# Logs
logs
*.log
package-lock.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

build/Release

node_modules/
jspm_packages/

web_modules/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Yarn Integrity file
.yarn-integrity

# dotenv environment variable files
.env

# Serverless directories
.serverless/
server/

# FuseBox cache
.fusebox/

# DynamoDB Local files
.dynamodb/

# yarn v2
yarn.lock
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*
